# Node modules
node_modules/

# Log files
*.log
*.tmp
*.txt

# Report files
*.html

# Log Directory
TestLogs

# Reports Directory
TestReports

# Playwright report and trace files
report/
traces/
screenshots/

# Environment variables
.env

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

.playwright/
bin/
obj/

Folder.DotSettings.user